server:
  port: 8080

spring:
  datasource:
    driverClassName: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/online_shop
    username: postgres
    password: root
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
  jackson:
    serialization:
      FAIL_ON_EMPTY_BEANS: false

logging:
  file:
    name: online-shop.log
  level:
    com.onlineshop: INFO