<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Add Event Form</title>
</head>
<body>
  <h2>Add Event Page</h2>
  <form th:action="@{/add}" th:object="${event}" method="POST">
    Event name: <input type="text" th:field="*{name}" />
    <br/>
    City: <input type="text" th:field="*{city}" />
    <br/>
    <input type="submit" value="Add event" />
  </form>

  <div th:if="${errorMessage}" th:utext="${errorMessage}" style="color:red;font-style:italic;">...</div>

</body>
</html>